<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DHGG Calculations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {{!-- HEADER IN HERE --}}
    
    <nav id="home" class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <div class="container">
            <nav>
                <img src="./assets/Images/DHGG Real Estate WHITE.png" style="width:25%;height:auto"alt="company logo">
                <a class="navbar-brand" href="#calculator">DHGG Rehab Calculation</a>
                <a class="navbar-brand" href="#home">Home</a>
                <a class="navbar-brand" href="#">Login</a>
                <a class="navbar-brand" href="#"></a>
            </nav>
        </div>
    </nav>
    <div>
        <img src="./assets/Images/RealEstate.jpeg" alt="Imagery" style="width:100%;height:auto">
    </div>

    <div class="flex-column justify-space-around">
        <div class="flex-column justify-space-around">
            <header class="display-flex justify-space-between align-center p-2 text-center bg-secondary text-white">
                <h1>
                    REinvesting
                </h1>
            </header>
            <main class="container container-fluid mt-5">
            </main>
        </div>
        <!-- If the user is logged in, show a logout button -->
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <!-- Otherwise, show a link to login -->
        <a href="/login">Login</a>
        {{/if}}
        {{!-- mainsection will be what changes --}}
        <main class="container container-fluid mt-5">
            {{{ body }}}
        </main>

        {{!-- this will be our footer --}}
        <footer class="bg-secondary text-white text-center text-lg-start mt-5">
            <!-- Copyright -->
            <div class="text-center p-3">
                © 2022 Copyright:
                <a class="text-primary" href="#">REinvestingApp.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/public/js/logic.js"></script>
         <!-- If the user is logged in, load the JS script for when they logout -->
        {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{/if}}
</body>

</html>
