<head>
    <meta charset="UTF-8">
    <title>REinvesting</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- HEADER IN HERE --}}
    <div class="flex-column justify-space-around">
        <div class="flex-column justify-space-around">
            <header class="display-flex justify-space-between align-center p-2 text-center bg-secondary text-white">
                <h1>
                    REinvesting
                </h1>
            </header>
            <main class="container container-fluid mt-5">
            </main>
        </div>

        {{!-- mainsection will be what changes --}}
        <main class="container container-fluid mt-5">
            {{{ body }}}
        </main>
        
        {{!-- this will be our footer --}}
        <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">REinvestingApp.com</a>
        </div>
    </footer>
    </div>
</body>

</html>